* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: black;
    color: white;
}

.nav_link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.space {
    display: flex;
    gap: 50px;
}

.fa-solid {
    font-size: 20px;
}
.main-content{
    display: flex;
    padding: 2rem;
    gap: 2rem;
}
.left-panel{
    width: 15%;
    background: #fff;
    padding: 1rem;
}
.filter-group{
    margin-bottom: 2rem;
    border: 2px solid black;
    height: 250px;
    width: 200px; 
    
}
.filter-title{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    /* border: 2px solid black; */
    margin-top: 1rem;
    padding: 10px;
    font-style: italic;

}
.content{
    padding-left: 6px;
    font-size: 20px;
}

.section-title{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1%;
    padding-right: 100px;
}
.search-box2{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
 border: 3px solid #ccc;
    border-radius: 100px; 
} 
.search-box2 input{
    border: none;
}
.info-text1{
    margin-bottom: 5px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}
.product-container{
   display: flex;
   /* padding-top: 1px; */
    /* padding: 20px; */
    /* margin-top: 20%; */
}
.product-card1{
    /* display: flex; */
}
.product-image-section img{
    position: relative;
    display: flex;
    width: 90%;
    padding-top: 20%;
    margin-right: 20%;
}
.discount{
    /* position: absolute; */
    top: 10px;
    left: 10px;
    /* background: black; 
    color: black; */ 
}
.product-content h1{
    font-size: 150%;
    font-weight: normal;
    padding-left: 2%;
}
.product-footer{
    display: flex;
    align-items: center;
    /* justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px; */
    gap: 36vh;
   
}
.product-footer h3{
    font-size: 20px;
    padding-left: 2%;
}
.circle{
    border: 1px solid rgb(84, 82, 82);
    border-radius: 100%;
    padding: 5px;
}
.show{
    margin-top: 10%;
    text-align: center;
    color: #6d6b6b;
    padding-top: 10px;
}
.last-button{
    /* margin-top: 10%; */
    text-align: center;
    color: #eeebeb;
    padding: 16px;
}
.symbols{
    height: 100px;
    background-color: #767474;
    margin-top: 80px;
    
}
.symbol1 {
display: flex;
justify-content: space-between;
padding: 3%;
color: #000;
}
.footer{
background-color: #474747;
}
.foot{
   max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 60px;

}

.update{
    /* font-size: 60px; */
    align-items: center;
    color: white;


}
.foot h1{
    font-size: 5vh;
    font-family: sans-serif;
    color: rgb(216, 215, 213);
}


.search2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0%;
    border-radius: 20px;
    gap: 20px;

     input {
        outline: none;
        padding: 4px;
        border-radius: 50px;
    }
}

.search_input2 {
    /* border: 1px solid black;
    padding: 5px;
    border-radius: 10px; */
}
.for{
 display: flex;
 justify-content: space-between;
padding-bottom: 60px;
padding-top: 40px;
padding-left: 30px;
padding-right: 30px;
color: rgb(216, 215, 213) ;
}
.copyright{
    background-color: #474747;
    margin-top: 2px;
    
}
.right{
    text-align: center;
    padding: 5px;
}

.right h3{
    color: #000;
    
}
