* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: black;
    color: white;
}

.nav_link {
    display: flex;
    gap: 30px;
    list-style: none;
}

.space {
    display: flex;
    gap: 50px;
}

.fa-solid {
    font-size: 20px;
}
.left-box{
    margin-top: 5%;
    margin-left: 5%;
     border: 3px solid rgb(136, 133, 133);
    width: 50%;
    height: 570px;
}
.head{
    display: flex;
    gap: 20%;
    background-color: rgb(151, 152, 153);
    height: 10%;
    padding:1%;
    /* padding-right: 3%; */
    padding-left: 3%; 
    color: white;
    justify-content: space-between;
}
.inside-head{
    display: flex;
    margin-top: 2%;
    gap: 40%;
    padding-left: 2%;
}
.name h3{
    font-weight: lighter;
}
.name input{
    border-radius: 10px;
    height: 80%;
    width: 120%;
    border-color: rgb(133, 131, 131);
}
.inside-head2{
    margin-top: 30px;
    display: flex;
    gap: 40%;
    padding-left: 2%;
}
.email h3{
    font-weight: lighter;
}
.email input{
    border-radius: 10px;
    height: 80%;
    width: 120%;
    border-color: rgb(133, 131, 131);
}
.inside-head3{
    margin-top: 30px;
    display: flex;
    gap: 40%;
    padding-left: 2%;
}
.add h3{
    font-weight: lighter;
}
.add input{
    border-radius: 10px;
    height: 80%;
    width: 380%;
    border-color: rgb(133, 131, 131);
}
.inside-head4{
    margin-top: 30px;
    display: flex;
    gap: 40%;
    padding-left: 2%;
}
.add2 h3{
    font-weight: lighter;
}
.add2 input{
    border-radius: 10px;
    height: 80%;
    width: 380%;
    border-color: rgb(133, 131, 131);
}
.inside-head5{
    margin-top: 30px;
    display: flex;
    gap: 40%;
    padding-left: 2%;
}
.add3 h3{
    font-weight: lighter;
}
.add3 input{
    border-radius: 10px;
    height: 80%;
    width: 380%;
    border-color: rgb(133, 131, 131);
}
.inside-head6{
    margin-top: 30px;
    display: flex;
    gap: 40%;
    padding-left: 2%;
}
.add4 h3{
    font-weight: lighter;
}
.add4 input{
    border-radius: 10px;
    height: 80%;
    width: 380%;
    border-color: rgb(133, 131, 131);
}
.btn button{
    margin-top:5%;
    padding: 1%;
    margin-left: 2%;
    background-color: black;
    color: white;
    border-radius: 5%;
    
}

.main-content1{
    display: flex;
}

.card-details{
    margin: 78px;
 border: 3px solid rgb(136, 133, 133);
    width: 30%;
    height: 450px;
    /* olor: white;
    background-color: rgb(151, 152, 153);
    height: 8%;
    padding:1%;c
    /* padding-right: 3%; */
    /* padding-left: 3%; 
    color: white; */ 

}
.card{
    background-color: rgb(136, 133, 133);
    height: 45px;
    color: white;
    padding: 2%;
}
.quantity{
    display: flex;
    gap: 110px;
    padding: 2%;
    background-color: rgb(238, 241, 241);

}
.quantity h3{
    font-weight: lighter;
}
.items{
    display: flex;
    padding-top: 10%;
    padding-left: 2%;
    font-size: 20px;
    gap: 110px;
}
.items h4{
    font-weight: lighter;
}
.items1{
    display: flex;
    padding-top: 5%;
    padding-left: 2%;
    font-size: 20px;
    gap: 90px;
}
.items1 h4{
    font-weight: lighter;
}
.total{
    padding-top: 10%;
    display: flex;
    gap: 250px;
    padding-left: 2%;
}
.ship{
    display: flex;
    padding-top: 10%;
    padding-left: 2%;
    font-size: 20px;
    gap: 265px; 
}
.ship h3{
    font-weight: lighter;
}
.total-pay{
    padding-top: 15%;
    display: flex;
    gap: 280px;
    padding-left: 2%;
}
 .symbols{
    height: 100px;
    background-color: #767474;
    margin-top: 80px;
    
}
.symbol1 {
display: flex;
justify-content: space-between;
padding: 3%;
color: #000;
}
.footer{
background-color: #474747;
}
.foot{
 max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}   


.updated{
    /* font-size: 60px; */
    align-items: center;
    color: white;


}
.foot h1{
    font-size: 7vh;
    font-family: sans-serif;
    color: rgb(216, 215, 213); 
}
/* .foot h2{
    font-size: 3vh;
} */

.search2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0%;
    border-radius: 20px;
    gap: 10px;
} 

 .search_input2 {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.for{
 display: flex;
 justify-content: space-between;
padding-bottom: 60px;
padding-top: 40px;
padding-left: 30px;
padding-right: 30px;
 color: rgb(216, 215, 213);
}

.copyright{
    background-color: #474747;
    margin-top: 2px;
    
}
.right{
    text-align: center;
    padding: 5px;
}

.right h3{
    color: #000; 
    
}
